*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Libra Baskervville', serif;
  background-color: #CC9FA6;
  color: #4F000D;
}

.container{
  text-align: center;
  margin: 5vh auto;
  max-width: 1000px;
}

h1{
  font-weight: 700;
  margin: 1rem 0;
}

h2{
  font-weight: 500;
  margin: 1rem 0;
}

p{
  margin: 1rem 0;
}

h1, h2, p{
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #F4C8D0;
  box-shadow: 8px 6px 0 0 #E2C0C6;
}
